# env*ironments
/back-end/venv/*

# dummy file
*/test.txt

# pycharm
*/.idea/*
.idea/*
*.idea/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pyc
.cpython-*
__pycache__/app.cpython-39.pyc