.addEventForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background: #1a1a1a;
    padding: 40px;
    border: 1px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .addEventForm input[type="text"],
  .addEventForm input[type="date"],
  .addEventForm input[type="number"],
  .addEventForm textarea {
    background: #333;
    border: 1px solid #444;
    color: white;
    padding: 10px;
  }
  
  .addEventForm input[type="text"]::placeholder,
  .addEventForm input[type="date"]::placeholder,
  .addEventForm input[type="number"]::placeholder,
  .addEventForm textarea::placeholder {
    color: #bbb;
  }
  
  .addEventForm .description {
    grid-column: 1 / -1;
  }
  
  .addEventForm button {
    padding: 10px 20px;
    cursor: pointer;
    background: #555;
    color: white;
    border: 1px solid #666;
  }
  
  .addEventForm .Submit {
    justify-self: end;
  }
  
  .addEventForm .Close {
    justify-self: start;
  }