/* Import Fredoka font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

body {
    font-family: 'Fredoka', sans-serif;
    margin: 0; /* Ensure the body has no margin to allow the video to cover full viewport */
}

.home-container {
    position: relative; /* Needed for absolute positioning of the video */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Prevents any overflow from the video */
}

.background-video {
    position: absolute;
    width: 100vw; /* Viewport width */
    height: 100vh; /* Viewport height */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centers the video */
    object-fit: cover; /* Ensures video covers the whole area */
    z-index: -1; /* Sends the video to the back */
}

.home-content {
    position: relative; /* Ensures content is on top of the video */
    display: flex;
    flex-direction: column; /* Stacks items vertically */
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically */
    text-align: center; /* Ensures text is centered */
    z-index: 2; /* Ensures content is above the background video */
}

.logo-image {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto;
    display: block; /* Centers the image */
    margin: 0 auto; /* Centers the logo */
    position: relative; /* Allows leftward adjustment */
    left: -10px; /* Moves the logo slightly to the left; adjust as needed */
}

.home-content h1, .home-content p {
    margin-top: 20px; /* Adds space above the text, adjust as needed */
}
.home-text{
    font-size: 40px;
    transform: translateX(10px); /* Move left by 30 pixels */
}
.app-slogan{
    font-size: 30px;
    margin-left:60;
    font-size: 40px;
  
}

   