/* Style for the overall page layout */
.LoginPage {
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Style for the Central Park image */
.Central-Park {
    width: 50vw; /* Half of the viewport width */
    height: 100vh; /* Full viewport height */
    object-fit: cover; /* Ensures the image covers the area without being stretched */
    position: fixed; /* Fixed position to stay put on scroll */
    left: 0; /* Align to the left side */
}

/* Container for the login form */
.login-container {
    max-width: 400px; /* Maximum width of the form container */
    padding: 20px;
    margin-left: 50vw; /* Push to the right, starting from the middle of the viewport */
    height: 100%; /* Full height to align with the image */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center the form vertically */
    align-items: center; /* Center the form items horizontally */
    background: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background */
}

/* Styles for form inputs */
.text, .password {
    width: 100%; /* Full width of the form container */
    padding: 10px;
    margin: 10px 0; /* Margin for spacing */
    border-radius: 4px; /* Rounded corners */
    border: 1px solid #ccc; /* Light grey border */
    box-sizing: border-box; /* Border box sizing */
}

/* Style for the Sign In button */
.Sign-in {
    background-color: #1D2088; /* Button background color */
    color: white; /* Button text color */
    padding: 10px;
    border: none;
    border-radius: 4px; /* Rounded corners */
    cursor: pointer;
    width: 100%;
    margin-top: 10px; /* Space above the button */
}

.Sign-in:hover {
    background-color: #353535; /* Darken the button on hover */
}

/* Styles for Register and Forgot Password buttons */
.handleRegister, .handleForgotPassword {
    background: none;
    border: none;
    color: #1D2088; /* Match the sign-in button color */
    padding: 5px 10px; /* Padding for touch area, horizontal padding for spacing */
    cursor: pointer;
    text-decoration: underline; /* Suggests clickable links */
    margin: 5px 5px; /* Vertical margin for spacing, horizontal for separation */
    display: inline-block; /* Ensures buttons are on the same line and margins apply */
}

/* Add space between the buttons */
.handleRegister {
    margin-right: 5px; /* Half the space (5px) will be added to the right of Register */
}

.handleForgotPassword {
    margin-left: 5px; /* Half the space (5px) will be added to the left of Forgot Password */
}

/* Hover effect for Register and Forgot Password buttons */
.handleRegister:hover,
.handleForgotPassword:hover {
    color: #353535; /* Darken the text on hover */
}
